<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="log-kibana">

        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>20</maxDepthPerThrowable>
                </throwableConverter>
            </encoder>
        </appender>

        <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
            <appender-ref ref="STDOUT" />
        </appender>

        <root level="INFO">
            <appender-ref ref="OTEL" />
        </root>

        <logger name="org.springframework" level="warn"/>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

</configuration>

