name: 'Dependency Submission Gradle'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'build.gradle.kts'
      - 'gradle/libs.versions.toml'

jobs:
  dependency_submission:
    name: Dependency Submission Gradle
    permissions:
      contents: write
    uses: navikt/sosialhjelp-ci/.github/workflows/dependency_submission_gradle.yml@v12
    with:
      java-version: '21'
