name: 'Deploy til Development'
run-name: Deploy '${{ github.ref_name }}' to 'dev-gcp'
on:
  workflow_dispatch:
  workflow_run:
    workflows: [ 'Build Kotlin, Run Lint and Test' ]    # Venter på at bygg på main har kjørt uten feil
    branches: [ main ]
    types:
      - completed


jobs:
  deploy-to-dev:
    name: 'Deploy to GCP'
    permissions:
      id-token: write
      packages: write
      contents: write
    uses: navikt/sosialhjelp-ci/.github/workflows/deploy_app.yml@v14
    with:
      cluster-name: 'dev-gcp'
      resource-name: 'mock'
    secrets: inherit
